_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
temp
Gemfile.lock
assets/externals
Mentoring/
assets/codes/raytracing/.vs
assets/codes/raytracing/x64
assets/codes/raytracing/Raytracing.vcxproj.user
